<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Coding Challenge</a>
      <img class="navbar-brand cherry" src="assets/images/image-cherry-on.svg">
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container symbol-lookup">
  {{symbol-lookup}}
</div>

<div class="container chart">
  {{high-chart}}
</div>

{{outlet}}
